# === GENERAL ===
# IDE
.vscode/
.cursor/
.idea/

# macOS
.DS_Store

# === BACKEND ===
# Security
*.env
*.pem

# Python
.pytest_cache
venv/
.venv/
__pycache__
*.py[cod]
.ruff_cache

# Rest
/Subtitles/dir_video/*
/Subtitles/dir_txt/*
/Subtitles/dir_audio/*
database.db
test.db
**/__pycache__/*
